.fl-details {
    width: 100%;
    display: flex;
    align-items: flex-start;
    column-gap: 76px;
    margin-top: 25px;
}

.a_propos ul {
    display: flex;
    flex-direction: column;
    
    row-gap: 30px;
    padding: 38px 0;
}

.collapse {
    width: 50%;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: 0 0 8px #00000020;
    background-color: #E3E3E360;
    
    margin: 0 auto;
}

.collapse button {
    width: 100%;
    height: 52px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
    
    border: none;
    border-radius: 10px;
    background-color: #FF6060; 
    color: white;

    cursor: pointer;
    padding: 10px;
}

.collapse button i {
    font-size: 1.5rem;
    padding: 10px;
}

.collapse p {
    line-height: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    padding: 30px 20px;
    color: #FF6060;
}

.collapse ul {
    padding: 20px 20px;
}

.collapse li {
    line-height: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;    
    color: #FF6060;
}

@media screen and (max-width: 768px) {
    .a_propos ul {     
        min-height: 41vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
        padding: 20px 20px 40px;
    }

    .collapse {
        width: 100%;
    }

    .collapse button {
        height: 40px;
    }
}